<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6c4c9f280d.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
        <div class="row">
          <div class="header-logo col-xs-3">
            <% unless admin_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag "logo.png", class: "logo" %>
              <% end %>
            <% else %>
              <%= link_to admin_root_path do %>
                <%= image_tag "logo.png", class: "logo" %>
              <% end %>
            <% end %>

          </div>
      <div class="container">
        
          <div class="col-xs-9">
            <div class="row header-top">
              <nav class="nav navbar-nav navbar-right">
                <ul class="nav-pills">
                  <% if customer_signed_in? %>
                    <li class="welcom-message">ようこそ、<%= "#{current_customer.last_name} #{current_customer.first_name}" %>さん！</li>
                    <li>
                      <%= link_to customers_path(current_customer), class: "header-link" do %><i class="fas fa-user"></i> マイページ<% end %>
                    </li>
                    
                    <li>
                      <%= link_to cart_items_path, class: "header-link" do %><i class="fas fa-shopping-cart"></i> カート<% end %>
                    </li>
                    <li>
                      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header-link" %>
                    </li>
                  <% elsif admin_signed_in?%>
                    <li><%= link_to "商品一覧", admin_items_path, class: "header-link" %></li>
                    <li><%= link_to "会員一覧", admin_users_path, class: "header-link" %></li>
                    <li><%= link_to "注文履歴一覧", admin_orders_path, class: "header-link" %></li>
                    <li><%= link_to "ジャンル一覧", admin_genres_path, class: "header-link" %></li>
                    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-link"%></li>
                  <% else %>
                    <li>
                      <%= link_to about_path, class: "header-link" do %><i class="fas fa-store-alt"></i> 店舗情報<% end %>
                    </li>
                    
                    <li>
                      <%= link_to "新規登録", new_customer_registration_path, class: "header-link" %>
                    </li>
                    <li>
                      <%= link_to "ログイン", new_customer_session_path, class: "header-link" %>
                    </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      </nav>
    </header>
    <div class="main-body container">
      <p class="flash" id="notice"><%= flash[:notice] %></p>
      <p class="flash" id="success"><%= flash[:success] %></p>
      <p class="flash" id="alert"><%= flash[:alert] %></p>
      <p class="flash" id="error"><%= flash[:error] %></p>
      <%= yield %>
    </div>
    
  </body>
</html>
